
export PORT="8082"

export DATABASE_URL=postgres://araotakuto:@localhost:5432/score-api
export SSL_MODE="?sslmode=disable"
export APP_ENV=dev

export SCHEME=http
export APP_HOST="localhost:8082"

export TEST_DATABASE_URL=postgres://ogura:@localhost:5432/score-api-test

export BRIFGE_API_KEY=fa3sf1d35ae3fa1wef53wa1ef35afw1ef3a
